<!DOCTYPE html>

<html lang="en" ng-app="mythicrunapp">

<head>

    <meta charset="utf-8">
    <title>Mythic Run</title>
    <meta name="description" content="">
    <meta name="author" content="">


    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">

    <link rel="stylesheet" href="/styles/normalize.css">
    <link rel="stylesheet" href="/styles/skeleton.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <script type="text/javascript" src="/js/angular.min.js"></script>
    <script type="text/javascript" src="/js/moment.min.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>

    <script type='text/javascript'>
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-1698731-10']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>

</head>

<body ng-controller="mythicruncontroller as mrc">

    <div class="container u-full-width u-max-full-width">
        <div class="row">
            <div class="col">

                <h1>Mythic Run</h1>

                <div id="filters">
                    <form name="inputform">
                        <select ng-model="inputformdata.region">
                            <option value="all">All Regions</option>
                            <option ng-repeat="region in regions" value="{{ region.abbr }}">{{ region.name }}</option>
                        </select>

                        <select ng-model="inputformdata.faction">
                            <option value="both">Both Factions</option>
                            <option value="alliance">Alliance</option>
                            <option value="horde">Horde</option>
                        </select>

                        <!-- <select ng-model="inputformdata.week">
                            <option value="current">Current Week</option>
                            <option value="all">All-time</option>
                        </select> -->

                        <select ng-model="inputformdata.dungeon">
                            <option value="all">All Dungeons</option>
                            <option ng-repeat="dungeon in dungeons" value="{{ dungeon.slug }}">{{ dungeon.name }}</option>
                        </select>

                        <select ng-model="inputformdata.limit">
                            <option value="10">10 Results</option>
                            <option value="25">25 Results</option>
                            <option value="50">50 Results</option>
                            <option value="100">100 Results</option>
                        </select>
                    </form>
                </div>

                <div id="results">

                    <div class="entry labels">
                        <div class="rank"></div>
                        <div class="mlevel">M+</div>
                        <div class="dungeon">Dungeon</div>
                        <div class="time">Time</div>
                        <div class="party">Party</div>
                    </div>

                    <div class="entry" ng-repeat="run in runs">
                        <div class="rank">{{ $index + 1 }}</div>
                        <div class="mlevel">{{ run.mlevel }}</div>
                        <div class="dungeon">
                            {{ run.dungeon | dungeonname }}
                            <div class="affixes subtext">
                                <div>{{ run.affix1 }}, {{ run.affix2 }}, {{ run.affix3 }}</div>
                            </div>
                        </div>
                        <div class="time">
                            <div class="speed" ng-bind-html="run.time | friendlytime"></div>
                            <div class="completed subtext">{{ run.completed | date:"MM/dd/yyyy 'at' h:mma" }}</div>
                        </div>
                        <div class="party">
                            <div class="characters">
                                <a href="{{ run.tankarmorylink }}" ng-if="run.tankname != ''">
                                    <div class="role tank {{ run.tankclass }}"></div> <div class="name">{{ run.tankname }}</div>
                                </a>
                                <a href="{{ run.healerarmorylink }}" ng-if="run.healername != ''">
                                    <div class="role healer {{ run.healerclass }}"></div> <div class="name">{{ run.healername }}</div>
                                </a>
                                <a href="{{ run.dps1armorylink }}" ng-if="run.dps1name != ''">
                                    <div class="role dps {{ run.dps1class }}"></div> <div class="name">{{ run.dps1name }}</div>
                                </a>
                                <a href="{{ run.dps2armorylink }}" ng-if="run.dps2name != ''">
                                    <div class="role dps {{ run.dps2class }}"></div> <div class="name">{{ run.dps2name }}</div>
                                </a>
                                <a href="{{ run.dps3armorylink }}" ng-if="run.dps3name != ''">
                                    <div class="role dps {{ run.dps3class }}"></div> <div class="name">{{ run.dps3name }}</div>
                                </a>
                            </div>

                            <div class="meta subtext">
                                <span class="region">{{ run.region | regionname }}, </span>
                                <span class="faction">{{ run.faction }}</span>
                            </div>
                        </div>
                    </div>

                </div><!-- end #results -->

            </div>
        </div>
    </div>

</body>

</html>
