body {
  color: #444;
  font-family: 'Poppins', monospace;
  font-weight: 400;
  letter-spacing: .2px;
}
body .container {
  padding: 2em;
}
h1 {
  font-size: 4em;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}
a {
  color: #444;
  text-decoration: none;
}
#filters form {
  text-align: center;
}
#filters form select {
  font-size: 1em;
}
#results .entry {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
#results .entry:nth-child(odd) {
  background: #f9f9f9;
}
#results .entry.labels {
  font-weight: 600;
  text-transform: uppercase;
  background: #f4f4f4;
}
#results .entry > div {
  box-sizing: border-box;
  padding: 20px;
  font-size: .9em;
}
#results .entry .rank {
  width: 5%;
  text-align: center;
  font-weight: bold;
}
#results .entry .mlevel {
  width: 5%;
  text-align: right;
}
#results .entry .dungeon {
  width: 15%;
}
#results .entry .dungeon .affixes div {
  color: #aaa;
  font-size: .6em;
}
#results .entry .time {
  width: 15%;
  text-align: right;
}
#results .entry .time .speed span {
  font-size: .8em;
}
#results .entry .time .completed {
  color: #aaa;
  font-size: .6em;
}
#results .entry .party {
  width: 60%;
  display: flex;
  flex-direction: row;
}
#results .entry .party span.region {
  margin-right: 40px;
  text-transform: uppercase;
}
#results .entry .party span.faction {
  margin-right: 40px;
}
#results .entry .party span.faction.alliance {
  color: blue;
}
#results .entry .party span.faction.horde {
  color: red;
}
#results .entry .party a {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 20px;
}
#results .entry .party a .role {
  position: relative;
  top: -1px;
  width: 18px;
  height: 18px;
  margin-right: 5px;
  mask-size: 12px 12px;
  -webkit-mask-size: 12px 12px;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: 50% 50%;
  -webkit-mask-position: 50% 50%;
}
#results .entry .party a .role.tank {
  mask-image: url('/img/shield.svg');
  -webkit-mask-image: url('/img/shield.svg');
}
#results .entry .party a .role.healer {
  mask-image: url('/img/plus.svg');
  -webkit-mask-image: url('/img/plus.svg');
}
#results .entry .party a .role.dps {
  mask-image: url('/img/bolt.svg');
  -webkit-mask-image: url('/img/bolt.svg');
}
#results .entry .party a .role.deathknight {
  background-color: #c41e3b;
}
#results .entry .party a .role.demonhunter {
  background-color: #a330c9;
}
#results .entry .party a .role.druid {
  background-color: #ff7c0a;
}
#results .entry .party a .role.hunter {
  background-color: #aad372;
}
#results .entry .party a .role.mage {
  background-color: #68ccef;
}
#results .entry .party a .role.monk {
  background-color: #00ffba;
}
#results .entry .party a .role.paladin {
  background-color: #f48cba;
}
#results .entry .party a .role.priest {
  background-color: #f0ebe0;
}
#results .entry .party a .role.rogue {
  background-color: #fff468;
}
#results .entry .party a .role.shaman {
  background-color: #2359ff;
}
#results .entry .party a .role.warlock {
  background-color: #a330c9;
}
#results .entry .party a .role.warrior {
  background-color: #c69b6d;
}
