body {
    color: #444;
    font-family: 'Poppins', monospace;
    font-weight: 400;
    letter-spacing: .2px;

    .container {
        padding: 2em;
    }
}

h1 {
    font-size: 4em;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

a {
    color: #444;
    text-decoration: none;
}

#filters {

    form {
        text-align: center;

        select {
            font-size: 1em;
        }
    }
}

#results {

    .entry {
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        &:nth-child(odd) {
            background: #f9f9f9;
        }

        &.labels {
            font-weight: 600;
            text-transform: uppercase;
            background: #f4f4f4;
        }

        > div {
            box-sizing: border-box;
            padding: 20px;
            font-size: .9em;
        }

        .rank {
            width: 5%;
            text-align: center;
            font-weight: bold;
        }

        .mlevel {
            width: 5%;
            text-align: right;
        }

        .dungeon {
            width: 15%;

            .affixes {

                div {
                    color: #aaa;
                    font-size: .6em;
                }
            }
        }

        .time {
            width: 15%;
            text-align: right;

            .speed {

                span {
                    font-size: .8em;
                }
            }

            .completed {
                color: #aaa;
                font-size: .6em;
            }
        }

        .party {
            width: 60%;
            display: flex;
            flex-direction: row;

            span.region {
                margin-right: 40px;
                text-transform: uppercase;
            }

            span.faction {
                margin-right: 40px;

                &.alliance { color: blue; }
                &.horde { color: red; }
            }

            a {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-right: 20px;

                .role {
                    position: relative;
                    top: -1px;
                    width: 18px;
                    height: 18px;
                    margin-right: 5px;
                    mask-size: 12px 12px;
                    -webkit-mask-size: 12px 12px;
                    mask-repeat: no-repeat;
                    -webkit-mask-repeat: no-repeat;
                    mask-position: 50% 50%;
                    -webkit-mask-position: 50% 50%;

                    &.tank {
                        mask-image: url('/img/shield.svg');
                        -webkit-mask-image: url('/img/shield.svg');
                    }

                    &.healer {
                        mask-image: url('/img/plus.svg');
                        -webkit-mask-image: url('/img/plus.svg');
                    }

                    &.dps {
                        mask-image: url('/img/bolt.svg');
                        -webkit-mask-image: url('/img/bolt.svg');
                    }

                    &.deathknight { background-color: #c41e3b; }
                    &.demonhunter { background-color: #a330c9; }
                    &.druid { background-color: #ff7c0a; }
                    &.hunter { background-color: #aad372; }
                    &.mage { background-color: #68ccef; }
                    &.monk { background-color: #00ffba; }
                    &.paladin { background-color: #f48cba; }
                    &.priest { background-color: #f0ebe0; }
                    &.rogue { background-color: #fff468; }
                    &.shaman { background-color: #2359ff; }
                    &.warlock { background-color: #a330c9; }
                    &.warrior { background-color: #c69b6d; }
                }
            }
        }
    }
}
